@{
    ViewBag.Title = "ApiSampleView";
    @Scripts.Render("~/bundles/apis");
}

<h2>ApiSampleView</h2>
<p><input type="text" id="apiTest"></p>
<p><label id="apiSampleOutput"></label></p>
Enter the text to translate into Yoda speach(only 5 requests per hour):
<p><input type="text" id="YodaInput"></p>
Yoda would say:
<p><label id="YodaOutput"></label></p>
