@{
    ViewBag.Title = "About";
    for (int i = 0; i < 10; i++)
    {
        <h1>@i</h1>
    }
}
<h2 id="title">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.o.Roman</h3>
<p>Use this area to provide additional information.</p>