@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Calculator</h2>
        <p>
            Use our calculator to calculate expressions
        </p>
        <p><a class="btn btn-default" href="/calculator/calculator">Go to calculator</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of addresses</h2>
        <p>Shows all addresses in the database</p>
        <p><a class="btn btn-default" href="/Address/index?pageNumber=1">Go to the list</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yoda Translator</h2>
        <p>Translate English into Yoda speech</p>
        <p><a class="btn btn-default" href="/apisample/apisample">Go to translator</a></p>
    </div>
</div>